* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-layout {
  display: grid;
  grid-template-columns: 1.3fr 2.5fr 1.2fr;
  height: 100vh; /* Full screen height */
}

.left-panel {
    background-image: url("../images/striped-wallpaper.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center; /* Center horizontally */
    justify-content: flex-start; /* Push to top */
    padding-top: 50px; /* Space from top */
}

.center-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.right-panel {
    background-color: blue;
}

.scoreboard {
    background-color: black;
    flex: 1; /* Take up remaining space */
}

.upgrades {
    background-color: purple;
    flex: 1; /* Take up remaining space */
}

.cat {
    width: 330px;
    height: 330px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 1.5));
}

#title {
    font-family: "Jacquard 24", serif;
    color: white;
    font-size: 84px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1.5);
    text-align: center;
    margin-bottom: 50px;
}

#cat-count {
    font-family: "Jacquard 24", serif;
    color: white;
    font-size: 36px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    margin-bottom: 5px;
}

#cps {
    font-family: "Jacquard 24", serif;
    color: white;
    font-size: 24px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    margin-bottom: 50px;
}

#cat-count, #cps {
  display: block; /* Behave like a full-width block */
  width: 100%; /* Stretch across parent */
  padding: 8px 0; /* Give it vertical space */
}